{% extends 'base.html' %}
{% block content %}
<div>
    <table>
        <tr>
            <th colspan="2">{{diaryPost.diary_title}}</th>
        </tr>
        <tr>
            <td>{{diaryPost.nickname}}</td>
            <td>{{diaryPost.upload_date}}</td>
        </tr>
        <tr> 
            <td colspan="2" id="mainText">{{diaryPost.diary_body | linebreaks }}</td>
        </tr>
    </table>
    <a href="{%url 'edit' diaryPost.id%}">edit</a><br>
    <a href="{%url 'delete' diaryPost.id%}">delete</a>
</div>
{% endblock %}